@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --col1:rgba(0, 81, 255, 0.733);
  --col2:#f6f6f6;
  --col3:#44bb6a;
  --col4:#263238;
  --col5:#fff;
  --col6:#ff0;
  --col7:#777;
  --col8:#999;
  --col9:red;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--col1);
}

body {
  padding-left: 25rem;
}
section {
  padding: 3rem 5%;
}
section:nth-child(even) {
  background: var(--col2);
}
.heading {
  text-align: center;
  margin-bottom: 3rem;
}
.heading span {
  font-size: 2rem;
  color: var(--col3);
  text-transform: uppercase;
}
.heading h3 {
  padding-top: 1rem;
  font-size: 3rem;
  color: var(--col4);
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.2rem 3rem;
  cursor: pointer;
  color:var(--col5);
  background:var(--col4);
  font-size: 1.7rem;
  border-radius: 20px;
}
.btn:hover {
  background: var(--col1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--col1);
  width: 26rem;
  height: 100%;
  padding: 3rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animated_icon
{
  border-radius: 40px;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--col5);
}

.header .navbar {
  padding-top: 30px;
  margin-top: 30%;
}
.header .navbar a {
  
  display: block;
  font-size: 2rem;
  margin: 1.7rem 0;
  color: var(--col5);
  
}


.header .navbar a i {
  color: var(--col6);
  padding-right: .5rem;
}

.header .navbar a:hover {
  color: var(--col6);
}
.header .navbar .yellow{
  color: var(--col6);
}

.header .navbar a:hover {
  color:var(--col6);
}
.header .share {
  text-align: center;
}

.header .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.8rem;
  background: var(--col5);
  color: var(--col4);
  margin: 0 .1rem;
}
.share {
  padding-bottom: 20%;
}
.header .share a:hover {
  color: var(--col5);
  background: var(--col4);
}
.header .credit {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  padding-top: 15%;
}

.header .credit span {
  color: var(--col6);
}

#menu-btn {
  position: fixed;
  top: 1rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  background: var(--col3);
  color: var(--col5);
  cursor: pointer;
  text-align: center;
  z-index: 10000;
  display: none;
}

#menu-btn.fa-times {
  background: var(--col5);
  color: var(--col4);
}

.quiz-Banner{
  height: 300px;
}

.contact
{
  margin-top: -20px;
}
.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 8%;
}

.contact .row .contact-info-container {
  width: 40rem;
}

.contact .row .contact-info-container .box {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.contact .row .contact-info-container .box i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 1.7rem;
  background: var(--col3);
  color: var(--col5);
  border-radius: 50%;
  text-align: center;
  margin-top: -1rem;
}

.contact .row .contact-info-container .box h3 {
  font-size: 2rem;
  color: var(--col4);
  padding-bottom: 1rem;
}

.contact .row .contact-info-container .box p {
  font-size: 1.5rem;
  color: var(--col7);
  line-height: 2;
}

.contact .row .contact-info-container .share {
  padding-top: 1rem;
}

.contact .row .contact-info-container .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--col4);
  color: var(--col5);
  margin-right: .1rem;
  text-align: center;
}

.contact .row .contact-info-container .share a:hover {
  background: var(--col3);
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox input, .contact .row form textarea {
  padding: 1.4rem;
  background: var(--col2);
  text-transform: none;
  color: var(--col7);
  margin: .7rem 0;
  font-size: 1.6rem;
  border: 0.1rem solid var(--col8);
}

.contact .row form textarea {
  width: 100%;
  resize: none;
  height: 15rem;
}



@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  body {
    padding-left: 0;
  }
  #menu-btn {
    display: block;
  }
  .header {
    left: -110%;
  }
  .header.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    width: 35rem;
  }
  .home .content h3 {
    font-size: 2.5rem;
  }
  .top_section{
    position: absolute;  /* Remove from normal document flow */
    top: 0;               /* Place at top */
    left: 10px;              /* Place at right edge */
    margin-right:20px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}



.top_section
{
  position: absolute;  /* Remove from normal document flow */
  top: 0;               /* Place at top */
  right: 0;              /* Place at right edge */
  margin-right:20px;
}





.slider-container {
  margin-top: 8%;
  margin-bottom: 8%;
  overflow: hidden;
  width: 100%;
  margin-left: 0.9%;
}

.slider {
  display: flex;
  width: calc(10 * 20%);
  animation: slide 20s linear infinite;
}

.slide {
  flex: 0 0 10%;
}

.slide img {
  width: 40%;
  height: auto;
}

@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}
  
  h1 {
    font-size: 5em;
    margin: 10px;
  }
  
  .numbers-container {
    display: flex;
    justify-content: center;
  
  }
  .numbers-container span{
    font-size:  5em; /* Adjust font size as needed */
    margin-right: 20px;
    margin-left: 20px;
  }
  .number {
    font-size:  5em; /* Adjust font size as needed */
    font-weight: bold;
    margin: 0 5px;
    color: #333;
  }
  
/* testimonial start */
.feedback {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.testimonials {
  text-align: center;
  position: relative;
  width: 50%;
}

.testimonials span {
  font-size: 20px;
}

.testimonial {
  display: none;
  position: relative;
  margin: 0;
}

.testimonial span {
  margin: 10px;
  font-size: 30px;
}

.testimonial p {
  margin: 10px;
  font-size: 20px;
}

.testimonial i {
  margin-top: 10px;
  font-size: 20px;
}

.testimonial.active {
  display: block;
}

.testimonial img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.arrows {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.arrow {
  cursor: pointer;
  font-size: 3rem;
  color: #333;
  user-select: none;
  position: absolute;
}

.arrow.left {
  left: -40px;
}

.arrow.right {
  right: -40px;
}

.arrow:hover {
  color: #000;
}
/* testimonial end */


.our_course {
  text-align: center;
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* styles.css */
.course-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin: 0 20px; /* Add margin to the left and right */
  max-width: 1200px;
  width: calc(100% - 40px); /* Adjust width to account for margins */
  box-sizing: border-box; /* Ensure padding and margin are included in the width */
 
}
:root {
  --font-family: 'Roboto', sans-serif;
  --background-color: #f0f2f5;
  --container-bg-color: #fff;
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --text-color: #333;
  --text-light-color: #666;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.2);
  --border-radius: 10px;
  --transition-time: 0.2s;
}



.quiz-selection-container {
  font-family: var(--font-family);
  width: 80%;
  max-width: 1200px;
  margin: auto;
  background-color: var(--container-bg-color);
  border-radius: var(--border-radius);

}

.quiz-selection-container h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--text-color);
}

.quiz-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.quiz-item {
  background-color: var(--container-bg-color);
  flex: 1 1 calc(50% - 20px);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: transform var(--transition-time), box-shadow var(--transition-time);
  cursor: pointer;
}

.quiz-item h2 {
  margin-top: 0;
  color: var(--primary-color);
  font-size: 1.5rem;
}

.quiz-item p {
  color: var(--text-light-color);
  font-size: 1rem;
  margin-bottom: 20px;
}

.quiz-item button {
  width: 100%;
  padding: 15px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color var(--transition-time);
}

.quiz-item button:hover {
  background-color: var(--primary-hover-color);
}

.quiz-item:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-hover);
}

