@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --col1:rgba(0, 81, 255, 0.733);
  --col2:#f6f6f6;
  --col3:#44bb6a;
  --col4:#263238;
  --col5:#fff;
  --col6:#ff0;
  --col7:#777;
  --col8:#999;
  --col9:red;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--col1);
}

body {
  padding-left: 25rem;
}
section {
  padding: 3rem 5%;
}
section:nth-child(even) {
  background: var(--col2);
}
.heading {
  text-align: center;
  margin-bottom: 3rem;
}
.heading span {
  font-size: 2rem;
  color: var(--col3);
  text-transform: uppercase;
}
.heading h3 {
  padding-top: 1rem;
  font-size: 3rem;
  color: var(--col4);
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.2rem 3rem;
  cursor: pointer;
  color:var(--col5);
  background:var(--col4);
  font-size: 1.7rem;
  border-radius: 20px;
}
.btn:hover {
  background: var(--col1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--col1);
  width: 26rem;
  height: 100%;
  padding: 3rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animated_icon
{
  border-radius: 40px;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--col5);
}

.header .navbar {
  padding-top: 30px;
  margin-top: 30%;
}
.header .navbar a {
  
  display: block;
  font-size: 2rem;
  margin: 1.7rem 0;
  color: var(--col5);
  
}


.header .navbar a i {
  color: var(--col6);
  padding-right: .5rem;
}

.header .navbar a:hover {
  color: var(--col6);
}
.header .navbar .yellow{
  color: var(--col6);
}

.header .navbar a:hover {
  color:var(--col6);
}
.header .share {
  text-align: center;
}

.header .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.8rem;
  background: var(--col5);
  color: var(--col4);
  margin: 0 .1rem;
}
.share {
  padding-bottom: 20%;
}
.header .share a:hover {
  color: var(--col5);
  background: var(--col4);
}


#menu-btn {
  position: fixed;
  top: 1rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  background: var(--col3);
  color: var(--col5);
  cursor: pointer;
  text-align: center;
  z-index: 10000;
  display: none;
}

#menu-btn.fa-times {
  background: var(--col5);
  color: var(--col4);
}
.top_section
{
  position: absolute;  /* Remove from normal document flow */
  top: 0;               /* Place at top */
  right: 0;              /* Place at right edge */
  margin-right:20px;
}


.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}
.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

/* quiz start */


/* Global Styles */
.quiz-container {
  max-width: 800px;
  margin: 130px auto;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.entete {
  background-color: var(--col1);
  color: white;
  padding: 30px 20px;
  text-align: center;
}

.entete h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
}

.entete p {
  margin: 10px 0 0;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.quiz-header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.timer {
  font-size: 18px;
  color: var(--col1);
}

.progress-bar {
  flex: 1;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin: 0 20px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: var(--col1);
  border-radius: 5px;
  width: 0;
  transition: width 0.5s;
}

.quiz-content {
  padding: 20px 30px;
}

.question {
  margin-bottom: 30px;
}

.question h4 {
  margin: 0;
  font-size: 22px;
  color: var(--col1);
  font-weight: 500;
}

.question p {
  margin: 10px 0;
  font-size: 18px;
  color: #555;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.answer-card {
  background-color: #f8f8f8;
  border-radius: 12px;
  flex: 1 1 calc(50% - 15px);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
}

.answer-card:hover {
  transform: translateY(-5px);
  background-color: #eeeeee;
}

.answer-card.selected {
  border-color: var(--col1);
  background-color: #e8def8;
}

.answer-card.correct {
  border-color: #00c853; /* Green border for the correct answer */
  background-color: #e8f5e9; /* Light green background for the correct answer */
}

.answer-card span {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 20px;
  color: var(--col1);
}

.answer-card p {
  font-size: 16px;
  color: #333;
}

footer {
  padding: 20px 30px;
  text-align: center;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}

.submit-btn {
  padding: 12px 25px;
  background-color: var(--col1);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: green;
}

/* Popup Modal Styles */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  border-radius: 10px;
  padding: 60px;
  max-width: 500px;
  width: 90%;
  position: relative;
  text-align: center;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.popup-close:hover {
  color: #6200ea;
}

.popup h2 {
  margin: 0;
  font-size: 24px;
  color: #6200ea;
}

.popup p {
  padding: 20px;
  font-size: 16px;
  color: #333;
}

/* Responsive Design */

@media (max-width: 1350px) {
  .quiz-container {
    max-width: 600px;
    margin: 130px auto;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
}


@media (max-width: 700px) {
  .quiz-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;
  }

  .answers {
    gap: 10px;
  }

  .answer-card {
    flex: 1 1 calc(100% - 10px);
  }
}
@media (max-width: 500px) {
  .quiz-container {
    max-width: 800px;
  }
  .entete h1 {
    font-size: 25px;
  }
  .entete p {
    font-size: 10px;
  }
}
/* ... existing styles ... */

#progress {
  height: 100%;
  background-color: green; /* Start with green */
  transition: width 0.5s ease, background-color 0.5s ease; /* Smooth transition */
}

#time.blinking {
  animation: blink-animation 1s steps(2, start) infinite; /* Blinking effect for the timer */
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* quiz end */





/* partners start */
.slider-container {
  margin-top: 8%;
  margin-bottom: 8%;
  overflow: hidden;
  width: 100%;
  margin-left: 0.9%;
}

.slider {
  display: flex;
  width: calc(10 * 20%);
  animation: slide 20s linear infinite;
}

.slide {
  flex: 0 0 10%;
}

.slide img {
  width: 40%;
  height: auto;
}

@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}
  
  h1 {
    font-size: 5em;
    margin: 10px;
  }
  
  .numbers-container {
    display: flex;
    justify-content: center;
  
  }
  .numbers-container span{
    font-size:  5em; /* Adjust font size as needed */
    margin-right: 20px;
    margin-left: 20px;
  }
  .number {
    font-size:  5em; /* Adjust font size as needed */
    font-weight: bold;
    margin: 0 5px;
    color: #333;
  }
/* Partners end */

.contact
{
  margin-top: -20px;
}
.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 8%;
}

.contact .row .contact-info-container {
  width: 40rem;
}

.contact .row .contact-info-container .box {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.contact .row .contact-info-container .box i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 1.7rem;
  background: var(--col3);
  color: var(--col5);
  border-radius: 50%;
  text-align: center;
  margin-top: -1rem;
}

.contact .row .contact-info-container .box h3 {
  font-size: 2rem;
  color: var(--col4);
  padding-bottom: 1rem;
}

.contact .row .contact-info-container .box p {
  font-size: 1.5rem;
  color: var(--col7);
  line-height: 2;
}

.contact .row .contact-info-container .share {
  padding-top: 1rem;
}

.contact .row .contact-info-container .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--col4);
  color: var(--col5);
  margin-right: .1rem;
  text-align: center;
}

.contact .row .contact-info-container .share a:hover {
  background: var(--col3);
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox input, .contact .row form textarea {
  padding: 1.4rem;
  background: var(--col2);
  text-transform: none;
  color: var(--col7);
  margin: .7rem 0;
  font-size: 1.6rem;
  border: 0.1rem solid var(--col8);
}

.contact .row form textarea {
  width: 100%;
  resize: none;
  height: 15rem;
}



@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  body {
    padding-left: 0;
  }
  #menu-btn {
    display: block;
  }
  .header {
    left: -110%;
  }
  .header.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    width: 35rem;
  }
  .home .content h3 {
    font-size: 2.5rem;
  }
  .top_section{
    position: absolute;  /* Remove from normal document flow */
    top: 0;               /* Place at top */
    left: 10px;              /* Place at right edge */
    margin-right:20px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}

